html(lang="en")
  head
    meta(charset="UTF-8")
    title Foisy
    link(rel='stylesheet', type='text/css', href='styles/common.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    script(type='text/javascript', src='scripts/jquery.js')
    script(type='text/javascript', src='scripts/custom.js', defer)
  body
    .header.container-fluid
      .row
        .nav-open-button
        .col-sm-8.col-sm-offset-2.header-main
          .row
            .col-xs-2.col-xs-offset-5
              img(alt='logo', src='images/logo.png')
          .row.studio-name-wrapper
            .col-sm-11.col-sm-offset-1.row-inner-wrapper
              span.studio-name Foisy Studio
          .row.title-wrapper
            .col-sm-9.col-sm-offset-3.row-inner-wrapper
              span.title Little Big Details
          .row.subtitle-wrapper
            .col-sm-9.col-sm-offset-3.row-inner-wrapper
              span.subtitle We are a creative design firm, aiming to give our users what they want;
                br
                | an awesome experience.
          .row.work-samples-wrapper
            .col-xs-4.col-sm-2.pull-right.row-inner-wrapper
              button.work-samples Our work
          .row.scroll-down-wrapper
            .col-sm-9.col-sm-offset-3.row-inner-wrapper
              span.scroll-down Scroll down
          .left-line
          .right-line
    .main.container-fluid
      .screen-1
        .row
          .col-md-4.left-part
            .blank-box
            .quote-box
              .row
                .col-md-10.col-md-offset-2
                  span.quote "Our vision is to make the biggest and more
                    br
                    | effective design firm"
          .col-md-8.right-part
            .row.lower-part
              .col-md-7.article-wrapper
                .row
                  .col-md-8.article-inner-wrapper
                    .heading
                      span Vision
                    .article
                      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora eveniet delectus, magnam dignissimos consequuntur aut autem nobis deleniti. Illo a animi sed consectetur iusto vel voluptate dignissimos repellendus error molestiae mollitia repudiandae hic quasi, excepturi, fugiat eaque ratione quisquam cum quas.
                        br
                        br
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, minima.
            .row.upper-part
              .images-wrapper
                img.desk(alt='desk', src='images/desk.jpg')
                img.building(alt='building', src='images/building.jpg')
                img.sand(alt='building', src='images/sand.jpg')
                button.keep-reading Keep reading
      .screen-2
        .col-md-4.left-part
          .title-wrapper
            span.title The team
            br
            span.subtitle Go to meet our extraordinary team
        .col-md-8.right-part
          .row.team-wrapper
            .col-md-9.col-md-offset-3.team-inner-wrapper
              img.team(alt='team', src='images/team.png')
            .line
            button.learn-more Learn more
      .screen-3
        .row.lower-part
          .col-md-4.left-part
          .col-md-8.right-part
            .row
              .col-md-5.title-wrapper
                span.title Featured stories
                br
                br
                span.subtitle Views from the Foisy.
              .row.slider-controls-wrapper
                .col-xs-12.slider-controls
                  .slider-control-box.active
                  .slider-control-box
                  span.page-num 01/02
              .col-md-7.blank-space
            .line
            a.view-blog(href='#') View blog
        .row.upper-part
          .slider.col-md-10.col-md-offset-1
            .row
              .slide-wrapper.col-md-4
                .slide
                  img(alt='Slider Image', src='images/wave.jpg')
                  .row
                    .col-xs-11.desc-wrapper
                      .row
                        .col-xs-12.heading-wrapper
                          span.heading Deep water
                      .row
                        .col-xs-12.desc-text-wrapper
                          span.desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsam aut doloribus quas, ullam accusantium perspiciatis ipsum odit sint odio.
                      .row
                        .col-xs-12.social-wrapper
                          .row
                            .col-xs-2.icon-wrapper
                              img(alt='like', src='images/like.png')
                            .col-xs-2.icon-wrapper
                              img(alt='share', src='images/share.png')
                            .col-xs-7.col-xs-offset-1.date-wrapper
                              img(alt='date', src='images/date.png')
                              span 2 July 2016
              .slide-wrapper.col-md-4
                .slide
                  img(alt='Slider Image', src='images/landscape.jpg')
                  .row
                    .col-xs-11.desc-wrapper
                      .row
                        .col-xs-12.heading-wrapper
                          span.heading Art is like a mountain
                      .row
                        .col-xs-12.desc-text-wrapper
                          span.desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsam aut doloribus quas, ullam accusantium perspiciatis ipsum odit sint odio.
                      .row
                        .col-xs-12.social-wrapper
                          .row
                            .col-xs-2.icon-wrapper
                              img(alt='like', src='images/like.png')
                            .col-xs-2.icon-wrapper
                              img(alt='share', src='images/share.png')
                            .col-xs-7.col-xs-offset-1.date-wrapper
                              img(alt='date', src='images/date.png')
                              span 2 July 2016
              .slide-wrapper.col-md-4
                .slide
                  img(alt='Slider Image', src='images/bussiness.jpg')
                  .row
                    .col-xs-11.desc-wrapper
                      .row
                        .col-xs-12.heading-wrapper
                          span.heading "Bussiness design"
                      .row
                        .col-xs-12.desc-text-wrapper
                          span.desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsam aut doloribus quas, ullam accusantium perspiciatis ipsum odit sint odio.
                      .row
                        .col-xs-12.social-wrapper
                          .row
                            .col-xs-2.icon-wrapper
                              img(alt='like', src='images/like.png')
                            .col-xs-2.icon-wrapper
                              img(alt='share', src='images/share.png')
                            .col-xs-7.col-xs-offset-1.date-wrapper
                              img(alt='date', src='images/date.png')
                              span 2 July 2016
      .screen-4
        .row
          .col-md-4.left-part
          .col-md-8.right-part
            .row.next-step-wrapper
              .row
                .title
                  span Next step
              .row.subtitle-wrapper
                .subtitle
                  span Meet out curated collection of projects - of all kinds - to taste our aesthetic.
              .row.take-me-there-wrapper
                button.take-me-there Take me there!
            .row.blank-space-wrapper
              .col-md-7.pull-right.blank-space
            .line
      .screen-5
        .row.footer-wrapper
          .col-xs-4.left-part
            .row.contacts-wrapper
              .row
                .col-md-4.col-md-offset-6.logo-wrapper
                  img.logo(alt='Logo', src='images/logo.png')
              .row
                .col-md-4.col-md-offset-6.social-wrapper
                  .row
                    .col-xs-4.social-icon
                      img(alt='Instagram', src='images/instagram.png')
                    .col-xs-4.social-icon
                      img(alt='Twitter', src='images/twitter.png')
                    .col-xs-4.social-icon
                      img(alt='Dribbble', src='images/dribbble.png')
          .col-xs-8.right-part
            .row
              .col-xs-6.nav-wrapper
                ul
                  li
                    a About
                  li
                    a Services
                  li
                    a Work
                  li
                    a Contact
              .col-xs-6.search-box-wrapper
                  input.search-box(type='text', placeholder='TYPE YOUR EMAIL')
                  button.go Go
            .row
              .col-xs-12.copyright-wrapper
                span Foisy 2016 · All rights reserved.
            .line
    .nav
      img.nav-close-button(alt='close', src='images/close.png')
      ul.nav-wrapper
        li
          a Home
        li
          a About
        li
          a Services
        li
          a Blog
        li
          a Shop
        li
          a Contact