include templates/mixins/slide
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel='stylesheet', type='text/css', href='slider.css')
body
  .row.slider
    +slide('images/wave.jpg', 'Deep water',
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates necessitatibus, assumenda placeat odio iure dolore, deserunt quibusdam beatae magni officia.',
    '2 July 2016')