include ../mixins/header
include ../mixins/slide
include ../mixins/travel-post
include ../mixins/footer

- var mediaUrlPrefix = '../'

-
  var headerConfig = {
    title: {
      text: 'Meet the <br/> Future',
    },
    subtitle: {
      text: 'Preach app that aims to give our users what they want;',
      text2: 'an awesome experience.',
    },
    bg: {
      all: [10],
      start: 10,
    },
    reducedLogoMargin: true,
    paddingBottom: true,
  }