include ../mixins/header
include ../mixins/footer

- var mediaUrlPrefix = '../'

-
  var headerConfig = {
    studioName: {
      text: 'Foisy contact',
      moveLeft: true,
    },
    title: {
      text: 'Reach out',
    },
    subtitle: {
      text: 'We support our vision with a great variety of communication.',
    },
    reducedLogoMargin: true,
    paddingBottom: true,
    bg: {
      all: [9],
      start: 9,
    },
  }