include ../mixins/header
include ../mixins/slide
include ../mixins/lightbox-img
include ../mixins/footer

- var mediaUrlPrefix = '../'

-
  var headerConfig = {
    studioName: {
      text: 'Chapter',
    },
    title: {
      text: 'Fashion Week',
    },
    subtitle: {
      text: 'We had a comfortable stay at this year\'s New York\'s Fashion Week.',
      text2: 'Here is what we have obtained.',
    },
    leftLink: {
      text: 'Fashion Week\'s Review'
    },
    bg: {
      all: [6],
      start: 6,
    },
  }