include ../mixins/header
include ../mixins/slide
include ../mixins/footer

- var mediaUrlPrefix = '../'

-
  var headerConfig = {
    studioName: {
      text: 'Chapter:'
    },
    title: {
      text: 'Geometric Trench',
    },
    subtitle: {
      text: '$ 2900.00',
    },
    reducedLogoMargin: true,
    bg: {
      all: [],
      start: 0,
    },
  }