include ../mixins/preloader
include ../mixins/header
include ../mixins/reply
include ../mixins/tile-cross-img
include ../mixins/footer

- var mediaUrlPrefix = '../'

-
  var headerConfig = {
    studioName: {
      text: 'Chapter:'
    },
    title: {
      text: 'Geometric Trench',
    },
    subtitle: {
      text: '$ 2900.00',
    },
    reducedLogoMargin: true,
    bg: {
      all: [-1],
      start: -1,
    },
  }