include ../mixins/header
include ../mixins/slide
include ../mixins/travel-post
include ../mixins/footer

- var mediaUrlPrefix = '../'

-
  var headerConfig = {
    studioName: {
      text: 'Chapter:',
    },
    title: {
      text: 'New York',
    },
    subtitle: {
      text: 'Welcome to our new chapter. This time around, it is New York\'s time',
      text2: 'to get it\'s spot in my Travel Blog.',
    },
    bg: {
      all: [7],
      start: 7,
    },
    paddingBottom: true,
  }