mixin slide(imgSrc, heading, descText, date)
  .slide-wrapper.col-md-4
    .slide
      .img-wrapper
        img(alt= heading, src= imgSrc)
      .row
        .col-xs-11.desc-wrapper
          .row
            .col-xs-12.heading-wrapper
              span.heading= heading
          .row
            .col-xs-12.desc-text-wrapper
              span.desc-text= descText
          .row
            .col-xs-12.social-wrapper
              .row
                .col-xs-2.icon-wrapper
                  span.icon.ti-heart
                .col-xs-2.icon-wrapper
                  span.icon.ti-new-window
                .col-xs-8.date-wrapper
                  span.icon.ti-calendar
                  span.date= date