mixin slide(imgSrc, heading, descText, date)
  .slide-wrapper.col-md-4
    .slide
      .img-wrapper
        a(href= imgSrc, data-lightbox='slider', data-title= heading)
          img(alt= heading, src= imgSrc)
          .img-overlay
            img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
      .row
        .col-xs-11.desc-wrapper
          .row
            .col-xs-12.heading-wrapper
              span.heading= heading
          .row
            .col-xs-12.desc-text-wrapper
              span.desc-text= descText
          .row
            .col-xs-12.social-wrapper
              .row
                .col-xs-2.icon-wrapper
                  .icon.like-icon
                .col-xs-2.icon-wrapper
                  .icon.share-icon
                .col-xs-7.col-xs-offset-1.date-wrapper
                  .icon.date-icon
                  span= date