include ../assets/templates/configs/contact

doctype traditional
html(lang="en")
  head
    meta(charset="UTF-8")
    title Contact - Foisy
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/styles/dist/all.css')
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/scripts/dist/contact.js', defer)
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    +preloader()
    +header(headerConfig)
    .main-contact.container-fluid
      .screen-1
        .row
          .col-md-4.left-part
            .screen-num
              .dash
              span 01
          .col-md-8.right-part
            .right-line
            .row
              .col-md-7.content-block
                .title-wrapper
                  h2.title Drop a line
                  span.subtitle For any bussiness inqury or a simple hello.
                form.form-wrapper
                  input.text-input(type='text', name='name', placeholder='TYPE YOUR NAME')
                  input.text-input(type='text', name='email', placeholder='TYPE YOUR EMAIL')
                  textarea.text-input.textarea-input(placeholder='TYPE YOUR MESSAGE')
                  button.send
                    a Send message
                .map-wrapper
                  +tile-cross-img('screen-1', 'A map', '', 'assets/images/map.png')
              .col-md-5.directions-link-wrapper
                a.directions Map directions
      +footer()
    include ../assets/templates/nav