include ../assets/templates/mixins/header
include ../assets/templates/mixins/next-step
include ../assets/templates/mixins/footer

- var mediaUrlPrefix = '../'

doctype traditional
html(lang="en")
  head
    meta(charset="UTF-8")
    title Foisy
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/styles/portfolio2.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/lib/lightbox/css/lightbox.min.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/lib/themify-icons/styles.css')
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/jquery/jquery.js')
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/scripts/common.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/lightbox/js/lightbox.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/gsap/TweenLite.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/gsap/CSSPlugin.min.js', defer)
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    +header('Projects', 'We support our vision with a great variety of work.', '', 4, [0, 1, 2, 3, 4], 'Foisy work', true, 'Take me there', mediaUrlPrefix + 'blog-with-images', false, false, null, null)
    .main
      .screen-1
        .row.lower-part
          .col-md-4.left-part
            .screen-num
              .dash
              span 01
          .col-md-8.right-part
            .row
              .col-md-7.blank-space
              .col-md-3.filters-wrapper
                a.filters-link(href='#') Filters
              .grey-space
          .grey-space-small
          .featured-wrapper
            span.featured Featured
        .row.upper-part
          .row
            .col-md-3.col-md-offset-4.related-wrapper
              h2.title Featured projects
              span.subtitle Selected projects
          .row.images-wrapper
            .col-md-5.col-md-offset-3.img-wrapper
              a(href= mediaUrlPrefix + 'assets/images/related-2.png', data-lightbox='screen-1', data-title='Related 2')
                img(alt='Related 2', src= mediaUrlPrefix + 'assets/images/related-2.png')
                span.img-desc Visual identity
                .img-overlay
                  img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'assets/images/plus.png')
          .row.images-wrapper
            .col-md-5.col-md-offset-3.img-wrapper
              a(href= mediaUrlPrefix + 'assets/images/related-3.png', data-lightbox='screen-1', data-title='Related 3')
                img(alt='Related 3', src= mediaUrlPrefix + 'assets/images/related-3.png')
                span.img-desc Festival
                .img-overlay
                  img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'assets/images/plus.png')
          .row.images-wrapper
            .col-md-5.col-md-offset-3.img-wrapper
              a(href= mediaUrlPrefix + 'assets/images/related-4.png', data-lightbox='screen-1', data-title='Related 4')
                img(alt='Related 4', src= mediaUrlPrefix + 'assets/images/related-4.png')
                span.img-desc Concert
                .img-overlay
                  img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'assets/images/plus.png')
          .row.images-wrapper
            .col-md-5.col-md-offset-3.img-wrapper
              a(href= mediaUrlPrefix + 'assets/images/related-1.png', data-lightbox='screen-1', data-title='Related 1')
                img(alt='Related 1', src= mediaUrlPrefix + 'assets/images/related-1.png')
                span.img-desc Illustration
                .img-overlay
                  img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'assets/images/plus.png')
          .row
            .col-md-3.col-md-offset-4.more-wrapper
              button.more
                a(href= mediaUrlPrefix + 'blog') Learn more
      +nextStep('Drop us a line about any bussiness inquiry or just say "hello".', 'Take me there', mediaUrlPrefix + 'portfolio')
      +footer()
    include ../assets/templates/nav
