include ../assets/templates/configs/consult

doctype traditional
html(lang="en")
  head
    meta(charset="UTF-8")
    title Consult - Foisy
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/styles/dist/consult.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/lib/slick/slick.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/lib/slick/slick-theme.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/lib/lightbox/css/lightbox.min.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/lib/themify-icons/styles.css')
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/jquery/jquery.js')
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/scripts/dist/consult.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/slick/slick.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/lightbox/js/lightbox.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/gsap/TweenLite.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/gsap/CSSPlugin.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/lib/bootstrap/js/dropdown.js', defer)
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    +preloader()
    +header(headerConfig)
    .main.container-fluid
      .screen-1
        .row.lower-part
          span.business Business
          .col-md-8.col-md-offset-4.right-part
            .row
              .col-md-5.col-md-offset-7.right-line
        .row.upper-part
          .row
            .col-md-6.col-md-offset-3.desc-wrapper
              .suit-img-wrapper.block-rounded-shadow
                  +tile-img('A man in a suit', 'assets/images/suit.png')
                  //-+lightbox-img('screen-1', 'A man in a suit', 'assets/images/suit.png')
              .title-wrapper
                h3.title Consulting Firm
                span.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore culpa blanditiis libero dolor deleniti minima, expedita mollitia quo provident dolore.
              .stats-wrapper
                .row
                  .col-md-4.stats
                    span.icon.ti-id-badge
                    span.number-to-count.number 9.321
                    span.stat-title Cases
                  .col-md-4.stats
                    span.icon.ti-heart
                    span.number-to-count.number 567
                    span.stat-title Clients
                  .col-md-4.stats
                    span.icon.ti-medall
                    span.number
                      span.number-to-count 99.8
                      | %
                    span.stat-title Success Rate
          .row.block-wrapper.block-wrapper-1
            .col-md-4.col-md-offset-2.block-desc
              .title-wrapper
                span.icon.ti-flag-alt-2
                h3.title Advanced Partners
                span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas in veritatis dignissimos odio iste delectus.
                a.more Learn more
            .col-md-6.block-img-wrapper.block-rounded-shadow
              img.block-img(alt='Partners', src=mediaUrlPrefix + 'assets/images/partners.png')
          .row.block-wrapper.block-wrapper-2
            .col-md-6.block-img-wrapper.block-rounded-shadow
              img.block-img(alt='Partners', src=mediaUrlPrefix + 'assets/images/network.png')
            .col-md-4.col-md-offset-1.block-desc
              .title-wrapper
                span.icon.ti-announcement
                h3.title 5-star network
                span.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas in veritatis dignissimos odio iste delectus.
                a.more Learn more
      .screen-2
        .row.lower-part
          span.stories Success stories
          .col-md-8.col-md-offset-4.right-part
            .col-md-5.col-md-offset-7.right-line
        .row.upper-part
          .col-md-4.left-part
            .img-wrapper.img-wrapper-1.block-rounded-shadow
              +tile-img('A table', 'assets/images/desk-1.jpg')
              //-+lightbox-img('screen-2', 'A table', 'assets/images/desk-1.jpg')
            .img-wrapper.img-wrapper-2.block-rounded-shadow
              +tile-img('A council', 'assets/images/council.jpg')
              //- +lightbox-img('screen-2', 'A council', 'assets/images/council.jpg')
            .img-wrapper.img-wrapper-3.block-rounded-shadow
              +tile-img('A tablet', 'assets/images/tablet.jpg')
              //- +lightbox-img('screen-2', 'A tablet', 'assets/images/tablet.jpg')
          .col-md-8.right-part
            .row
              .img-wrapper.img-wrapper-1.block-rounded-shadow
                +tile-img('A skyscraper', 'assets/images/skyscraper-1.jpg')
                //- +lightbox-img('screen-2', 'A skyscraper', 'assets/images/skyscraper-1.jpg')
              .img-outer-wrapper
                .img-wrapper.img-wrapper-2.block-rounded-shadow
                  +tile-img('A laptop', 'assets/images/laptop.jpg')
                  //- +lightbox-img('screen-2', 'A laptop', 'assets/images/laptop.jpg')
                .img-wrapper.img-wrapper-3.block-rounded-shadow
                  +tile-img('A box', 'assets/images/box.jpg')
                  //- +lightbox-img('screen-2', 'A box', 'assets/images/box.jpg')
            .row
              .col-md-7.title-wrapper
                h3.title 2016 success stories
                button.more
                  a View them
      .screen-3
        .row.lower-part
          .grey-block
          .col-md-8.col-md-offset-4.right-part
            .row
              .col-md-5.col-md-offset-7.right-line
        .row.upper-part
          .row
            .col-md-6.col-md-offset-3.desc-wrapper
              .car-img-wrapper.block-rounded-shadow
                +tile-img('A self-driving car', 'assets/images/car-1.jpg')
                //-+lightbox-img('screen-3', 'A self-driving car', 'assets/images/car-1.jpg')
              .title-wrapper
                span.icon.ti-pencil-alt2
                h3.title Self-driving cars: the future
                span.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque aliquid error laudantium tempora iste dolores voluptate sit eum quia nesciunt soluta quis nisi culpa, consequuntur, laborum. Pariatur assumenda officiis iusto.
              button.more
                a Learn more
      +footer()
    include ../assets/templates/nav