.footer
  .footer-wrapper
    background black
    height 40vh
    .left-part
      border-right 1px solid light-black
      padding 0
      height 100%
      position relative
      .contacts-wrapper
        .logo-wrapper
          margin-top 10vh
          .logo
            width 100%
            height 2em
            background-image url('../images/logo.png')
            background-size 100% 100%
            background-position 50% 50%
        .social-wrapper
          padding 0
          margin-top 1em
          .icon
            width 2em
            height 2em
            display block
            cursor pointer
          .instagram-icon
            background url('../images/instagram.png')
          .twitter-icon
            background url('../images/twitter.png')
          .dribbble-icon
            background url('../images/dribbble.png')
    .right-part
      padding 0
      position relative
      height 100%
      font-size 0.75em
      .nav-wrapper
        margin-top 15vh
        padding 0
        ul
          padding 0
          list-style none
          li
            float left
            &:first-child
              padding-left 0
            a
              cursor pointer
              color dark-grey
              text-transform uppercase
              text-decoration none
              &:hover
                color white
      .search-box-wrapper
        height 8vh
        background black
        z-index 2
        padding 0
        color white
        .search-box
          width 70%
          height 100%
          background url(../images/email-pointer.png) no-repeat scroll 5px 16px
          padding 0 30px
          border 1px solid light-black
          outline none
        .go
          width 20%
          absolute right 20%
          height 6vh
          margin-top 1vh
          text-transform uppercase
      .copyright-wrapper
        padding-left 0.75em
        padding-bottom 0.5em
        absolute bottom
        text-transform uppercase
        color light-black
      .line
        width 1px
        height 100%
        absolute left 58.3333334% top
        background light-black

@media(max-width $screen-md) // Tablet
  .footer
    margin-top 5%
    .left-part
      .logo-wrapper
        text-align center
    .right-part
      .line
        display none
      ul
        li
          padding 0.5em
      .search-box-wrapper
        margin-top 7vh

@media(min-width $screen-md) // Desktop
  .footer
    .right-part
      ul
        li
          padding 0.5em 2em
    .search-box-wrapper
      margin-top 13vh
