.footer
  .footer-wrapper
    background black
    height 40vh
    .left-part
      border-right 1px solid light-black
      padding 0
      height 100%
      position relative
      .contacts-wrapper
        .logo-wrapper
          margin-top 10vh
          padding 0
          .logo
            width 100%
        .social-wrapper
          padding 0
          margin-top 2em
          text-align center
          .icon
            cursor pointer
            color white
            font-size 14px
            border 1px solid white
            border-radius 50%
            padding 0.5em
            text-align center
            &.ti-instagram:hover
              background #6fa8d4
            &.ti-twitter:hover
              background #31c7f2
            &.ti-dribbble:hover
              background #e679f6
    .right-part
      padding 0
      position relative
      height 100%
      font-size 0.75em
      .nav-wrapper
        padding 0
        &>ul
          padding 0
          margin 0
          list-style none
          &>li
            float left
            &:first-child
              padding-left 0
            a
            span
              font-size 14px
              font-family MontserratBold
              color white
              cursor pointer
              text-transform uppercase
              text-decoration none
              font-weight bold
              &:hover
                color blue
            .dropdown-menu
              background light-black
              li
                padding 0
                cursor pointer
                a
                  background transparent
      .search-box-wrapper
        height 8vh
        background black
        z-index 2
        padding 0
        color white
        .search-box
          width 70%
          height 100%
          background url(../images/email-pointer.png) no-repeat scroll 5px 16px
          padding 0 30px
          border 1px solid light-black
          outline none
        .go
          width 20%
          absolute right 20%
          height 6vh
          margin-top 1vh
          text-transform uppercase
      .copyright-wrapper
        padding-left 0.75em
        padding-bottom 0.5em
        absolute bottom
        text-transform uppercase
        color light-black
      .line
        width 1px
        height 100%
        absolute left 58.3333334% top
        background light-black

@media(max-width $screen-md) // Tablet
  .footer
    margin-top 5%
    .left-part
      .contacts-wrapper
        .logo-wrapper
          text-align center
    .right-part
      .line
        display none
      .nav-wrapper
        margin-top 10vh
        ul
          li
            padding 0.5em

@media(min-width $screen-md) // Desktop
  .footer
    .right-part
      .nav-wrapper
        margin-top 15vh
        ul
          li
            padding 0 2em
    .search-box-wrapper
      margin-top 13vh
