.nav
  background black
  width 25%
  height 100%
  fixed top right -25%
  z-index 5
  transition right 0.5s ease
  &.active
    fixed top right
  .nav-close-button
    absolute top 0.5em left 0.5em
    cursor pointer
    width 1.5em
    height 1.5em
    background-image url(../images/close.png)
    background-size 100% 100%
  .nav-wrapper
    margin-top 15vh
    list-style none
    font-weight bold
    text-transform uppercase
    a
      color dark-grey
      line-height 4em
      cursor pointer
      text-decoration none
      &:hover
        color white
