.next-step .letter {
  font-weight: bold;
  color: #f00;
  font-size: 30vh;
  font-family: SourceSansProBlack;
  position: absolute;
}
.next-step .letter.f-letter {
  color: #808080;
  top: 30%;
  left: 30%;
}
.next-step .letter.o-letter {
  color: #808080;
  bottom: 0;
  right: 10%;
}
.next-step .letter.i-letter {
  color: #808080;
  top: 30%;
  left: 30%;
}
.next-step .letter.y-letter {
  color: #fff;
  bottom: 0;
  right: 10%;
}
.next-step .left-part {
  padding: 0;
  margin-top: -4vh;
  height: calc(100% + 4vh);
  background: #fff;
  position: relative;
}
.next-step .right-part {
  border-left: 1px solid dark-grey;
  padding: 0;
  position: relative;
}
.next-step .right-part .next-step-wrapper {
  padding: 0;
  z-index: 2;
}
.next-step .right-part .next-step-wrapper .title {
  font-weight: bold;
  font-size: 2em;
}
.next-step .right-part .next-step-wrapper .subtitle-wrapper {
  margin-top: 8vh;
}
.next-step .right-part .next-step-wrapper .take-me-there-wrapper {
  margin-top: 8vh;
}
.next-step .right-part .next-step-wrapper .take-me-there-wrapper .take-me-there {
  padding: 0.5em 2em;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 20px 20px dark-grey;
  box-shadow: 0 20px 20px dark-grey;
}
.next-step .right-part .blank-space-grey,
.next-step .right-part .blank-space-white {
  position: relative;
}
.next-step .right-part .blank-space-grey {
  background: #808080;
  height: 80%;
}
.next-step .right-part .blank-space-white {
  height: 100%;
  background: #fff;
}
.next-step .right-part .blank-space-white .studio-name {
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #808080;
  display: inline-block;
  width: 100%;
}
.next-step .right-part .line {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 58.3333334%;
  top: 0;
  background: dark-grey;
}
@media (max-width: $screen-md) {
  .next-step .letter {
    display: none;
  }
  .next-step .left-part {
    display: none;
  }
  .next-step .right-part .next-step-wrapper {
    text-align: center;
    position: static;
  }
  .next-step .right-part .next-step-wrapper .title {
    margin-top: 10vh;
  }
  .next-step .right-part .blank-space-wrapper,
  .next-step .right-part .line {
    display: none;
  }
}
@media (min-width: $screen-md) {
  .next-step .right-part .next-step-wrapper {
    position: absolute;
    top: 0;
  }
  .next-step .right-part .next-step-wrapper .title {
    margin-top: 40vh;
  }
}
