.slide-wrapper
  .slide
    height 100%
    position relative
    &>img
      absolute top
      width 100%
    .desc-wrapper
      border 1px solid dark-grey
      absolute bottom
      background white
      height 60%
      .heading-wrapper
        padding 0
        .heading
          width 100%
          display inline-block
          text-overflow ellipsis
          font-size 1.5em
          font-weight bold
          text-transform uppercase
      .desc-text-wrapper
        padding 0
        margin-top 5%
        height 65%
        overflow hidden
      .social-wrapper
        height 30px
        padding 0
        absolute bottom 5px
        .icon-wrapper
          height 100%
          padding 0
          img
            height 100%
            cursor pointer
        .date-wrapper
          height 100%
          padding 0
          cursor pointer
          position relative
          img
            absolute top 25%
            height 50%
            display inline-block
          span
            absolute top 25% left 15%

@media(max-width $screen-md) // Tablet
  .slide-wrapper
    overflow hidden
    padding 0
    height auto
    .slide
      .desc-wrapper
        padding-bottom 0
        .desc-text-wrapper
          margin-top 2%

@media(min-width $screen-md) // Desktop
  .slide-wrapper
    height 100%
    .slide
      .desc-wrapper
        padding 1em
      .desc-text-wrapper
        margin-top 5%