.slide-wrapper
  height auto !important
  .slide
    position relative
    .img-wrapper
      position relative
      width 100%
      img
        width 100%
    .desc-wrapper
      border 1px solid dark-grey
      width 90%
      margin-top -15%
      position relative
      z-index 2
      background white
      .heading-wrapper
        padding 0
        .heading
          width 100%
          display inline-block
          text-overflow ellipsis
          font-size 1.5em
          font-weight bold
          font-family SourceSansProBlack
          text-transform uppercase
      .desc-text-wrapper
        padding 0
        margin-top 5%
        overflow hidden
        text-align justify
      .social-wrapper
        padding 0
        margin-top 2em
        margin-bottom 1em
        .icon-wrapper
          padding 0
          .icon
            font-size 12px
            padding 0.5em
            border 1px solid light-black
            border-radius 50%
            text-align center
            cursor pointer
            &.ti-heart:hover
              background #fe4042
            &.ti-new-window:hover
              background blue
        .date-wrapper
          line-height 12px
          cursor pointer
          position relative
          .date
            margin-left 1em

@media(max-width $screen-md) // Tablet
  .slide-wrapper
    overflow hidden
    padding 0
    height auto !important // Is used to override natural slick behaviour
    .slide
      .desc-wrapper
        padding-bottom 0
        .desc-text-wrapper
          margin-top 2%

@media(min-width $screen-md) // Desktop
  .slide-wrapper
    .slide
      .desc-wrapper
        padding 1em
      .desc-text-wrapper
        margin-top 5%
