.header
  padding 0
  position relative
  background black
  .header-background
    width 100%
    height 100%
    absolute left top
    background-size cover
    background-repeat no-repeat
    background-position 50% 50%
    transition all 0.4s ease
    &.header-background-1
      z-index 5
      background-image url(../images/header-texture.png)
    &.header-background-2
      z-index 4
      background-image url(../images/header-poster.png)
    &.header-background-3
      z-index 3
      background-image url(../images/header-city.png)
    &.header-background-4
      z-index 2
      background-image url(../images/header-buttons.png)
    &.header-background-5
      z-index 1
      background-image url(../images/header-wave.png)
  .nav-open-button
    width 24px
    height 24px
    absolute top 2vh right 5%
    z-index 9
    cursor pointer
    transition transform 0.2s ease
    span
      display block
      width 100%
      height 2px
      background white
      transition transform 0.2s ease
      &.line-0
        transform-origin 0 0
      &.line-1
        margin 9px 0
      &.line-2
        transform-origin 0 100%
    &:hover .line-0
      transform rotateZ(90deg) translate(0, -12px)
    &:hover .line-2
      transform rotateZ(-90deg) translate(0, 12px)
    &.nav-open-button-active
      transform rotateZ(180deg)
      .line-0
      .line-2
        display none
  .header-slider-controls
    absolute top 2vh left 5%
    z-index 6
    display block
    .header-slider-control-box
      cursor pointer
      display block
      margin-bottom 0.5em
      width 0.5em
      height 0.5em
      background dark-grey
      &.active
        background blue
    .header-page-num
      margin-top 100%
      transform-origin 0% 50%
      transform rotateZ(-90deg)
      display block
      .middle-dots
        letter-spacing 0.25em
        margin 0 0.5em
        font-weight bold
      .header-current-slide
        color white
  .header-main
    padding 0
    padding-top 2vh
    color white
    z-index 6
    .logo
      width 100%
    .studio-name-wrapper
      margin-top 20vh
      .studio-name
        color dark-grey
        letter-spacing 1em
        text-transform uppercase
    .title
      text-transform uppercase
      font-weight bold
      font-family SourceSansProBlack
    .subtitle-wrapper
      margin-top 8vh
      color dark-grey
      line-height 2em
    .work-samples-wrapper
      margin-top 8vh
      margin-bottom 8vh
      .work-samples
        width 100%
        text-transform uppercase
    .scroll-down-wrapper
      margin-bottom 8vh
      .scroll-down
        cursor pointer
        text-transform uppercase
        color dark-grey
        letter-spacing 0.25em
    .row-inner-wrapper
      padding 0
    .left-line
    .right-line
      background rgba(grey, 0.2)
      width 1px
      height 100%
    .left-line
      absolute left 25% top 0
    .right-line
      absolute left 83.33333334% top 0

@media(max-width $screen-md) // Tablet
  .header
    padding 5%
    .studio-name-wrapper
    .title-wrapper
      text-align center
    .left-line
    .right-line
      display none
