.slide-wrapper
  .slide
    .img
      width 100%
  .comment-wrapper
    padding 0
    margin-top 24px
    .avatar-wrapper
      padding 0
      .avatar
        width 100%
    .comment
      .name
        font-family SourceSansProBlack
        font-weight bold
      .comment-text
        display block
        margin-top 6px
        font-size 12px
        font-style italic
        color black