.goods
  position relative
  padding 0
  float left
  width 40%
  margin-bottom 96px
  &:nth-child(even)
    margin-left 10%
  &:nth-child(odd)
    margin-right 10%
  .goods-img-wrapper
    position relative
    box-shadow 0 12px 48px rgba(black, 0.5)
    .goods-img
      position relative
      z-index 2
      width 100%
      img
        width 100%
  .goods-title-wrapper
    margin-top 48px
    .title
      text-transform uppercase
    .price
      margin-top 6px
      display inline-block