include ../templates/mixins/header

- var mediaUrlPrefix = '../'

doctype traditional
html(lang="en")
  head
    meta(charset="UTF-8")
    title Portfolio
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'styles/portfolio.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'lib/lightbox/css/lightbox.min.css')
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'lib/themify-icons/styles.css')
    script(type='text/javascript', src= mediaUrlPrefix + 'scripts/jquery.js')
    script(type='text/javascript', src= mediaUrlPrefix + 'scripts/portfolio-dist.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'lib/gsap/TweenLite.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'lib/gsap/CSSPlugin.min.js', defer)
    script(type='text/javascript', src= mediaUrlPrefix + 'lib/lightbox/js/lightbox.min.js', defer)
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    +header('Foisy work', 'Festival', 'A challenging and fun project', '', 'Take me there', false, mediaUrlPrefix + 'blog', 1)
    .main
      .screen-1
        .row.lower-part
          .col-md-7.blank-space
            span.visual Visual
          .col-md-4.grey-space
        .row.upper-part
          .col-md-4.left-part
            .screen-num
              .dash
              span 01
          .col-md-8.right-part
            .row
              .col-md-7.concept-wrapper
                span.heading Concept
                span.concept-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sapiente explicabo beatae repudiandae vitae vero modi reiciendis nobis, repellendus culpa possimus architecto praesentium, aspernatur, voluptates unde. Velit quam quis laudantium.
              .col-md-5.saying-wrapper
                .person-wrapper
                  img.person-photo(alt='Joshua Atkins', src= mediaUrlPrefix + 'images/avatar.png')
                  .person-data
                    .person-name Joshua Atkins
                    .person-position Project manager
                .quote-wrapper
                  span.quote "It was a fun and challenging project, both
                    br
                    | from design and aesthetic perspective."
      .screen-2
        .row.lower-part
          .col-md-4.left-part
          .col-md-8.right-part
            .row
              .col-md-7.blank-space
        .row.upper-part
          .row.images-wrapper.images-row-1
            .img-wrapper.desc-img-wrapper.poster-1
              .img-float-desc
                span.heading Project Title
                a.link(href='#') Learn more
              .inner-wrapper
                a.img-link(href= mediaUrlPrefix + 'images/poster-1.png', data-lightbox='screen-2', data-title='Poster 1')
                  img(alt='Poster 1', src= mediaUrlPrefix + 'images/poster-1.png')
                  .img-overlay
                    img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
            .img-wrapper.desc-img-wrapper.poster-2
              .img-float-desc
                span.heading Project Title
                a.link(href='#') Learn more
              .inner-wrapper
                a.img-link(href= mediaUrlPrefix + 'images/poster-2.png', data-lightbox='screen-2', data-title='Poster 2')
                  img(alt='Poster 2', src= mediaUrlPrefix + 'images/poster-2.png')
                  .img-overlay
                    img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
          .row.images-wrapper.images-row-2
            .img-wrapper.desc-img-wrapper.poster-1
              .img-float-desc
                span.heading Project Title
                a.link(href='#') Learn more
              .inner-wrapper
                a.img-link(href= mediaUrlPrefix + 'images/poster-3.png', data-lightbox='screen-2', data-title='Poster 3')
                  img(alt='Poster 3', src= mediaUrlPrefix + 'images/poster-3.png')
                  .img-overlay
                    img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
          .row.images-wrapper.images-row-3
            .img-wrapper.desc-img-wrapper.poster-1
              .img-float-desc
                span.heading Project Title
                a.link(href='#') Learn more
              .inner-wrapper
                a.img-link(href= mediaUrlPrefix + 'images/poster-4.png', data-lightbox='screen-2', data-title='Poster 4')
                  img(alt='Poster 4', src= mediaUrlPrefix + 'images/poster-4.png')
                  .img-overlay
                    img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
          .row.images-wrapper.images-row-4
            .img-wrapper.desc-img-wrapper.poster-1
              .img-float-desc
                span.heading Project Title
                a.link(href='#') Learn more
              .inner-wrapper
                a.img-link(href= mediaUrlPrefix + 'images/poster-5.png', data-lightbox='screen-2', data-title='Poster 5')
                  img(alt='Poster 5', src= mediaUrlPrefix + 'images/poster-5.png')
                  .img-overlay
                    img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
            .img-wrapper.desc-img-wrapper.poster-2
              .img-float-desc
                span.heading Project Title
                a.link(href='#') Learn more
              .inner-wrapper
                a.img-link(href= mediaUrlPrefix + 'images/poster-6.png', data-lightbox='screen-2', data-title='Poster 6')
                  img(alt='Poster 6', src= mediaUrlPrefix + 'images/poster-6.png')
                  .img-overlay
                    img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
      .screen-3
        .row.lower-part
          .col-md-4.left-part
          .col-md-8.right-part
            .row
              .col-md-7.blank-space
              .grey-space
        .row.upper-part
          .row
            .col-md-3.col-md-offset-4.related-wrapper
              span.title Related projects
              span.subtitle More of the same
          .row.images-wrapper
            .col-md-4.col-md-offset-2.img-wrapper
              a.img-link(href= mediaUrlPrefix + 'images/related-1.png', data-lightbox='screen-3', data-title='Related 1')
                img(alt='Related 1', src= mediaUrlPrefix + 'images/related-1.png')
                span.img-desc Illustration
                .img-overlay
                  img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
            .col-md-4.img-wrapper
              a.img-link(href= mediaUrlPrefix + 'images/related-2.png', data-lightbox='screen-3', data-title='Related 2')
                img(alt='Related 2', src= mediaUrlPrefix + 'images/related-2.png')
                span.img-desc Visual identity
                .img-overlay
                  img.plus-sign(alt='Show in a popup', src= mediaUrlPrefix + 'images/plus.png')
          .row
            .col-md-3.col-md-offset-4.more-wrapper
              button.more
                a(href= mediaUrlPrefix + 'portfolio-with-images') More projects
      include ../templates/footer
    include ../templates/nav
