@import 'common'

@import 'components/nav'
@import 'components/header'
@import 'components/lightbox-img'
@import 'components/footer'

.main
  z-index 6
  position relative
  padding 0
  .screen-1
    position relative
    .left-part
      .screen-num
        top "calc(%s + %s)" % (screen-margin block-top-offset)
    .right-part
      position relative
      .right-line
        width 1px
        height 100%
        absolute top left 58.33333336%
        background dark-grey
      .content-block
        padding 0
        .title-wrapper
          .title
            text-transform uppercase
          .subtitle
            display inline-block
            margin 24px 0 96px 0
        .form-wrapper
          padding 0
          width 70%
          .text-input
            width 100%
            display block
            margin 0 0 48px -1px // Hiding left border
            padding-top 1.5em
            padding-bottom 1.5em
            border 1px solid dark-grey
          .textarea-input
            height 200px
            background-position 5px 15px
        .map-wrapper
          position relative
          margin 144px 0
          img
            width 100%
      .directions-link-wrapper
        padding 0
        margin-top 24px
        a
          color dark-grey
          font-weight bold
          font-family SourceSansProBlack
          text-decoration none
          cursor pointer
          text-transform uppercase
          &:hover
            color light-black


@media(max-width $screen-md) // Tablet
  .screen-1
    .left-part
      padding 0 5%
      text-align center
      background grey
      .grey-block
        display none
    .right-part
      padding-top 0
      text-align center
      .right-line
        display none
      .title-wrapper
        margin-top 48px
      .form-wrapper
        margin-left 15%
      .map-wrapper
        width 100%
      .directions-link-wrapper
        display none


@media(min-width $screen-md) // Desktop
  .screen-1
    .left-part
      margin-top - block-top-offset
      padding-top block-top-offset + 144px
      background white
    .right-part
      padding 144px 0 0 0
      border-left 1px solid dark-grey
      .map-wrapper
        width 120%
