include ../assets/templates/configs/shop-with-images

doctype traditional
html(lang="en")
  head
    meta(charset="UTF-8")
    title Shop - Foisy
    link(rel='stylesheet', type='text/css', href= mediaUrlPrefix + 'assets/styles/dist/all.css')
    script(type='text/javascript', src= mediaUrlPrefix + 'assets/scripts/dist/shop-with-images.js', defer)
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  body
    +preloader()
    +header(headerConfig)
    .main-shop-with-images.container-fluid
      .screen-1
        .row
          .col-md-4.left-part
            .screen-num
              .dash
              span 01
            .row
              .col-md-6.col-md-push-6.selection-config-wrapper
                .cat-wrapper.categories-cat
                  span.title Categories
                  span.cat Shop men
                  span.cat Shop women
                  span.cat Shop kids
                .cat-wrapper
                  span.title Tags
                  span.cat Jeans
                  span.cat Design
                  span.cat Art
                  span.cat T-shirts
                .cat-wrapper
                  span.title Price range
                  input.range(type='range', min='0', max='3000', step='10')
                  span.cat.output $95 - $200
          .col-md-8.right-part
            .right-line
            .row
              .col-md-8.goods-wrapper
                .row.slider.shop-lazy-slider
                  .slide
                    +tile-cross-img('screen-1', 'Jeans',   '$ 2500.00', 'assets/images/jeans.png', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/coat-1.jpg', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/jacket-1.jpg', true)
                    +tile-cross-img('screen-1', 'Trench',  '$ 2500.00', 'assets/images/coat-8.png', true)
                    +tile-cross-img('screen-1', 'Uniform', '$ 2500.00', 'assets/images/uniform.png', true)
                    +tile-cross-img('screen-1', 'Jacket',  '$ 2500.00', 'assets/images/coat-2-full.png', true)
                  .slide
                    +tile-cross-img('screen-1', 'Jeans',   '$ 2500.00', 'assets/images/jeans.png', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/coat-1.jpg', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/jacket-1.jpg', true)
                    +tile-cross-img('screen-1', 'Trench',  '$ 2500.00', 'assets/images/coat-8.png', true)
                    +tile-cross-img('screen-1', 'Uniform', '$ 2500.00', 'assets/images/uniform.png', true)
                    +tile-cross-img('screen-1', 'Jacket',  '$ 2500.00', 'assets/images/coat-2-full.png', true)
                  .slide
                    +tile-cross-img('screen-1', 'Jeans',   '$ 2500.00', 'assets/images/jeans.png', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/coat-1.jpg', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/jacket-1.jpg', true)
                    +tile-cross-img('screen-1', 'Trench',  '$ 2500.00', 'assets/images/coat-8.png', true)
                    +tile-cross-img('screen-1', 'Uniform', '$ 2500.00', 'assets/images/uniform.png', true)
                    +tile-cross-img('screen-1', 'Jacket',  '$ 2500.00', 'assets/images/coat-2-full.png', true)
                  .slide
                    +tile-cross-img('screen-1', 'Jeans',   '$ 2500.00', 'assets/images/jeans.png', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/coat-1.jpg', true)
                    +tile-cross-img('screen-1', 'Coat',    '$ 2500.00', 'assets/images/jacket-1.jpg', true)
                    +tile-cross-img('screen-1', 'Trench',  '$ 2500.00', 'assets/images/coat-8.png', true)
                    +tile-cross-img('screen-1', 'Uniform', '$ 2500.00', 'assets/images/uniform.png', true)
                    +tile-cross-img('screen-1', 'Jacket',  '$ 2500.00', 'assets/images/coat-2-full.png', true)
            .row.slider-controls-wrapper.numbers-slider-controls
              span.slider-control.active 1
              span.slider-control 2
              span.middle-dots ···
              span.slider-control 3
              span.slider-control 4
      +nextStep('Best-seller', 'Our top-selling product for the last 3 weeks.', 'Buy now', 'shop', 'assets/images/jacket-2.png')
      +footer()
    include ../assets/templates/nav