.nav
  ul.nav-wrapper
    li.nav-link.nav-link-0
      a(href= mediaUrlPrefix) Home
    li.nav-link.nav-link-1
      a(href= mediaUrlPrefix + 'blog') Blog
    li.nav-link.nav-link-2
      a(href= mediaUrlPrefix + 'portfolio') Portfolio
    li.nav-link.nav-link-3
      a(href= mediaUrlPrefix + 'blog-with-images') Blog with images
    li.nav-link.nav-link-4
      a(href= mediaUrlPrefix + 'portfolio-with-images') Portfolio with images
    li.nav-link.nav-link-5
      a(href= mediaUrlPrefix + 'home-shop') Home shop
    li.nav-link.nav-link-6
      a(href= mediaUrlPrefix + 'shop') Shop
    li.nav-link.nav-link-7
      a(href= mediaUrlPrefix + 'shop-with-images') Shop with images
    li.nav-link.nav-link-8
      a(href= mediaUrlPrefix + 'consult') Consult
    li.nav-link.nav-link-9
      a(href= mediaUrlPrefix + 'travel') Travel
    li.nav-link.nav-link-10
      a(href= mediaUrlPrefix + 'magazine') Magazine
    li.nav-link.nav-link-11
      a(href= mediaUrlPrefix + 'app') App
    li.nav-link.nav-link-12
      a(href= mediaUrlPrefix + 'contact') Contact
