-var currentLink = 0

mixin link(config)
  li.nav-link(class = 'nav-link-' + currentLink)
    if(config.subs)
      span.title= config.main.text
        |  
        span.caret
    else
      a(href='').title= config.main.text
    if(config.subs)
      ul.link-subs
        -for(var i = 0; i < config.subs.length; i++)
          li
            a(href= mediaUrlPrefix + config.subs[i].url)= config.subs[i].text
  -currentLink++

.nav
  ul.nav-wrapper
    +link({main: {text: 'Home'}, subs: [{text: 'Home', url: ''}, {text: 'Home App', url: 'app'}]})
    +link({main: {text: 'Blog'}, subs: [{text: 'Blog', url: 'blog'}, {text: 'Blog w/ images', url: 'blog-with-images'}]})
    +link({main: {text: 'Portfolio'}, subs: [{text: 'Portfolio', url: 'portfolio'}, {text: 'Portfolio w/ images', url: 'portfolio-with-images'}]})
    +link({main: {text: 'Shop'}, subs: [{text: 'Shop', url: 'shop'}, {text: 'Home Shop', url: 'home-shop'}, {text: 'Shop W/ Images', url: 'shop-with-images'}]})
    +link({main: {text: 'Other'}, subs: [{text: 'Travel', url: 'travel'}, {text: 'Magazine', url: 'magazine'}, {text: 'Consult', url: 'consult'}]})
    +link({main: {text: 'Contact', url: 'contact'}})
