.nav
  ul.nav-wrapper
    li.nav-link.nav-link-0.dropdown
      span.dropdown-toggle(data-toggle='dropdown') Home
        .caret
      ul.dropdown-menu
        li
          a(href= mediaUrlPrefix + 'Home') Home
        li
          a(href= mediaUrlPrefix + 'app') Home app
    li.nav-link.nav-link-1.dropdown
      span.dropdown-toggle(data-toggle='dropdown') Blog
        .caret
      ul.dropdown-menu
        li
          a(href= mediaUrlPrefix + 'blog') Blog
        li
          a(href= mediaUrlPrefix + 'blog-with-images') Blog w/ images
    li.nav-link.nav-link-2.dropdown
      span.dropdown-toggle(data-toggle='dropdown') Portfolio
        .caret
      ul.dropdown-menu
        li
          a(href= mediaUrlPrefix + 'portfolio') Portfolio
        li
          a(href= mediaUrlPrefix + 'portfolio-with-images') Portfolio w/ images
    li.nav-link.nav-link-3.dropdown
      span.dropdown-toggle(data-toggle='dropdown') Shop
        .caret
      ul.dropdown-menu
        li
          a(href= mediaUrlPrefix + 'home-shop') Home shop
        li
          a(href= mediaUrlPrefix + 'shop') Shop
        li
          a(href= mediaUrlPrefix + 'shop-with-images') Shop w/ images
    li.nav-link.nav-link-4
      a(href= mediaUrlPrefix + 'travel') Travel
    li.nav-link.nav-link-5
      a(href= mediaUrlPrefix + 'consult') Consult
    li.nav-link.nav-link-6
      a(href= mediaUrlPrefix + 'magazine') Magazine
    li.nav-link.nav-link-7
      a(href= mediaUrlPrefix + 'contact') Contact
