
<div class="footer">
  <div class="row footer-wrapper">
    <div class="col-xs-4 left-part">
      <div class="row contacts-wrapper">
        <div class="row">
          <div class="col-md-4 col-md-offset-6 logo-wrapper"><img alt="Logo" src="images/logo.png" class="logo"/></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-6 social-wrapper">
            <div class="row">
              <div class="col-xs-4 social-icon"><img alt="Instagram" src="images/instagram.png"/></div>
              <div class="col-xs-4 social-icon"><img alt="Twitter" src="images/twitter.png"/></div>
              <div class="col-xs-4 social-icon"><img alt="Dribbble" src="images/dribbble.png"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 right-part">
      <div class="row">
        <div class="col-xs-6 nav-wrapper">
          <ul>
            <li><a>About</a></li>
            <li><a>Services</a></li>
            <li><a>Work</a></li>
            <li><a>Contact</a></li>
          </ul>
        </div>
        <div class="col-xs-6 search-box-wrapper">
          <input type="text" placeholder="TYPE YOUR EMAIL" class="search-box"/>
          <button class="go">Go</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 copyright-wrapper"><span>Foisy 2016 · All rights reserved.</span></div>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>