.footer
  .row.footer-wrapper
    .col-xs-4.left-part
      .row.contacts-wrapper
        .row
          .col-xs-10.col-xs-offset-1.col-md-3.col-md-offset-7.logo-wrapper
            img(alt='logo', src= mediaUrlPrefix + 'images/logo.png').logo
        .row
          .col-md-3.col-md-offset-7.social-wrapper
            .row
              .col-xs-4.social-icon.icon-wrapper-0
                span.icon.ti-instagram
              .col-xs-4.social-icon.icon-wrapper-1
                span.icon.ti-twitter
              .col-xs-4.social-icon.icon-wrapper-2
                span.icon.ti-dribbble
    .col-xs-8.right-part
      .row
        .col-xs-11.col-xs-offset-1.col-sm-5.col-sm-offset-0.nav-wrapper
          ul
            li
              a(href= mediaUrlPrefix) Home
            li.dropdown
              span.dropdown-toggle(data-toggle='dropdown') Portfolio
                .caret
              ul.dropdown-menu
                li
                  a(href= mediaUrlPrefix + 'portfolio') Portfolio
                li
                  a(href= mediaUrlPrefix + 'portfolio-with-images') Portfolio w/ images
            li.dropdown
              span.dropdown-toggle(data-toggle='dropdown') Blog
                .caret
              ul.dropdown-menu
                li
                  a(href= mediaUrlPrefix + 'blog') Blog
                li
                  a(href= mediaUrlPrefix + 'blog-with-images') Blog w/ images
        .col-xs-11.col-xs-offset-1.col-sm-5.col-sm-offset-0.search-box-wrapper
            input.search-box(type='text', placeholder='TYPE YOUR EMAIL')
            button.go
              a Go
      .row
        .col-xs-12.copyright-wrapper
          span Foisy 2016 · All rights reserved.
      .line