.footer
  .row.footer-wrapper
    .col-xs-4.left-part
      .row.contacts-wrapper
        .row
          .col-md-4.col-md-offset-6.logo-wrapper
            .logo
        .row
          .col-md-4.col-md-offset-6.social-wrapper
            .row
              .col-xs-4.social-icon
                .icon.instagram-icon
              .col-xs-4.social-icon
                .icon.twitter-icon
              .col-xs-4.social-icon
                .icon.dribbble-icon
    .col-xs-8.right-part
      .row
        .col-sm-6.nav-wrapper
          ul
            li
              a About
            li
              a Services
            li
              a Work
            li
              a Contact
        .col-sm-6.search-box-wrapper
            input.search-box(type='text', placeholder='TYPE YOUR EMAIL')
            button.go Go
      .row
        .col-xs-12.copyright-wrapper
          span Foisy 2016 · All rights reserved.
      .line