
<div class="header container-fluid">
  <div class="row">
    <div class="nav-open-button"></div>
    <div class="col-sm-8 col-sm-offset-2 header-main">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5"><img alt="logo" src="images/logo.png"/></div>
      </div>
      <div class="row studio-name-wrapper">
        <div class="col-sm-11 col-sm-offset-1 row-inner-wrapper"><span class="studio-name">Foisy Studio</span></div>
      </div>
      <div class="row title-wrapper">
        <div class="col-sm-9 col-sm-offset-3 row-inner-wrapper"><span class="title">Little Big Details</span></div>
      </div>
      <div class="row subtitle-wrapper">
        <div class="col-sm-9 col-sm-offset-3 row-inner-wrapper"><span class="subtitle">We are a creative design firm, aiming to give our users what they want;<br/>an awesome experience.</span></div>
      </div>
      <div class="row work-samples-wrapper">
        <div class="col-xs-4 col-sm-2 pull-right row-inner-wrapper">
          <button class="work-samples">Our work</button>
        </div>
      </div>
      <div class="row scroll-down-wrapper">
        <div class="col-sm-9 col-sm-offset-3 row-inner-wrapper"><span class="scroll-down">Scroll down</span></div>
      </div>
      <div class="left-line"></div>
      <div class="right-line"></div>
    </div>
  </div>
</div>