.header.container-fluid
  .row
    .nav-open-button
    .col-sm-8.col-sm-offset-2.header-main
      .row
        .col-xs-2.col-xs-offset-5
          img(alt='logo', src='images/logo.png')
      .row.studio-name-wrapper
        .col-sm-11.col-sm-offset-1.row-inner-wrapper
          span.studio-name Foisy Studio
      .row.title-wrapper
        .col-sm-9.col-sm-offset-3.row-inner-wrapper
          span.title Little Big Details
      .row.subtitle-wrapper
        .col-sm-9.col-sm-offset-3.row-inner-wrapper
          span.subtitle We are a creative design firm, aiming to give our users what they want;
            br
            | an awesome experience.
      .row.work-samples-wrapper
        .col-xs-4.col-sm-2.pull-right.row-inner-wrapper
          button.work-samples Our work
      .row.scroll-down-wrapper
        .col-sm-9.col-sm-offset-3.row-inner-wrapper
          span.scroll-down Scroll down
      .left-line
      .right-line