.nav
  img.nav-close-button(alt='close', src='images/close.png')
  ul.nav-wrapper
    li
      a Home
    li
      a About
    li
      a Services
    li
      a Blog
    li
      a Shop
    li
      a Contact