.nav
  .nav-close-button
  ul.nav-wrapper
    li
      a(href= mediaUrlPrefix) Home
    li
      a(href= mediaUrlPrefix + 'blog') Blog
    li
      a(href= mediaUrlPrefix + 'portfolio') Portfolio
    li
      a(href= mediaUrlPrefix + 'blog-with-images') Blog with images
    li
      a(href= mediaUrlPrefix + 'portfolio-with-images') Portfolio with images
