.nav
  .nav-close-button
  ul.nav-wrapper
    li.nav-link.nav-link-0
      a(href= mediaUrlPrefix) Home
    li.nav-link.nav-link-1
      a(href= mediaUrlPrefix + 'blog') Blog
    li.nav-link.nav-link-2
      a(href= mediaUrlPrefix + 'portfolio') Portfolio
    li.nav-link.nav-link-3
      a(href= mediaUrlPrefix + 'blog-with-images') Blog with images
    li.nav-link.nav-link-4
      a(href= mediaUrlPrefix + 'portfolio-with-images') Portfolio with images
