include lightbox-img
mixin shop-goods(name, price, imgUrl)
  .goods
    .goods-img-wrapper
      .goods-img
        img(alt='An item', data-lazy= mediaUrlPrefix + imgUrl)
    .goods-overlay
      .bg-line
      .goods-title-wrapper
        h4.title= name
        span.price= price

    //- .goods-img-wrapper
    //-   .lightbox-wrapper.goods-img(data-lazy = mediaUrlPrefix + imgUrl)
    //-     +lightbox-img('screen-1', name, imgUrl)
    //- .goods-title-wrapper
    //-   h4.title= name
    //-   span.price= price