include lightbox-img
mixin shop-goods(name, price, imgUrl)
  .goods
    .goods-img-wrapper
      .lightbox-wrapper.goods-img(data-lazy = mediaUrlPrefix + imgUrl)
        +lightbox-img('screen-1', name, imgUrl)
    .goods-title-wrapper
      h4.title= name
      span.price= price