mixin slide(imgSrc, heading, descText, date, cat, condenseIcons)
  .slide-wrapper.col-md-4
    .slide
      .img-wrapper
        img(alt= heading, src= imgSrc)
      .row
        .col-xs-12.desc-wrapper
          if(cat)
            .row
              .col-xs-12.cat-wrapper
                span.cat= cat
          .row
            .col-xs-12.heading-wrapper
              span.heading= heading
          .row
            .col-xs-12.desc-text-wrapper
              span.desc-text= descText
          .row
            .col-xs-12.social-wrapper
              .row
                .icon-wrapper(class= condenseIcons ? 'col-xs-1' : 'col-xs-2')
                  span.icon.ti-heart
                .icon-wrapper(class= condenseIcons ? 'col-xs-1' : 'col-xs-2')
                  span.icon.ti-new-window
                .col-xs-8.date-wrapper
                  span.icon.ti-calendar
                  span.date= date