mixin tile-slide(imgSrc, title, date, cat, condenseIcons)
  .tile-slide-wrapper.col-md-4
    .tile-slide
      .img-wrapper
        img(alt= heading, src= imgSrc)
      .row.desc-wrapper
        .col-xs-12.desc
          .row.cat-wrapper
            span.cat= cat
          .row.title-wrapper
            span.title= title
          .row.social-wrapper
            .button-wrapper
              span.icon.ti-heart
            .button-wrapper
              span.icon.ti-new-window
            .button-wrapper
              span.icon.ti-calendar
              span.date= date