include tile-cross-img
mixin travel-post(name, text, day, linkUrl, imgUrl, lightboxId)
  .row.post
    .col-md-4.day-wrapper
      span.day Day #{day}
    .col-md-8.post-wrapper
      .row
        .col-md-7.post-img
          .img-wrapper.block-rounded-shadow
            +tile-cross-img(lightboxId, name, 'Day ' + day, imgUrl)
          .img-desc-wrapper
            span.img-desc= name
        .col-md-4.post-text
          h5.title= name
          span.text= text
          a.more Read more