include lightbox-img
mixin travel-post(name, text, day, linkUrl, imgUrl, lightboxId)
  .row.post
    .col-md-4.day-wrapper
      span.day Day #{day}
    .col-md-8.post-wrapper
      .row
        .col-md-7.post-img
          .lightbox-wrapper.img-wrapper.block-rounded-shadow
            +lightbox-img(lightboxId, name, imgUrl)
          .img-desc-wrapper
            span.img-desc= name
        .col-md-4.post-text
          h5.title= name
          span.text= text
          a.more Read more