@media(min-width $screen-md) // Desktop
  .screen-1
    height 100vh
    .left-part
      .quote-box
        width 150%
    .right-part
      .lower-part
        height 100%
        .article-wrapper
          height 100%
          .article-inner-wrapper
            padding 10vh 0 auto 0
      .upper-part
        width 70%
        margin-left 20%
        absolute top 10vh
        .images-wrapper
          height 90vh
          .desk
            width 70%
            height 60%
            absolute right 0
          .building
            width 40%
            absolute right 15% top 40%
          .sand
            width 75%
            height 30%
            absolute left 0 top 55%
          .keep-reading
            absolute bottom 12% right 20.333334%
  .screen-2
    height 60vh
    .left-part
      height 100%
      margin-top -4vh
      .title-wrapper
        absolute top 30% left 65%
    .right-part
      height 100%
      .learn-more
        absolute left 58.333333334% top 70%
      .team-wrapper
        .team
          height 40vh
  .screen-3
    height 100vh
    .lower-part
      height 100%
      .right-part
        height 100%
        .slider-controls-wrapper
          padding 0
          absolute bottom 0
        .view-blog
          absolute left 58.3333334% top 15%
    .upper-part
      height 60%
      absolute top 35vh
      .slider
        height 100%
        .slide-wrapper
          height 100%
          .slide
            .desc-wrapper
              padding 1em
            .desc-text-wrapper
              margin-top 5%
  .screen-4
    .right-part
      .next-step-wrapper
        absolute top
        .title
          margin-top 40vh
  .screen-5
    .right-part
      ul
        li
          padding 0.5em 2em
