@import 'vars'

@import 'components/nav'
@import 'components/header'
@import 'components/footer'

.main
  padding 0
  .screen-1
    .left-part
      padding 0
      margin-top -4vh
      .blank-box
        height 40vh
        background white
      .quote-box
        background grey
        height 60vh
        padding-top 25vh
        .quote
          font-style italic
    .right-part
      border-left 1px solid dark-grey
      position relative
      padding-left 0
      padding-right 0
      .lower-part
        .article-wrapper
          border-right 1px solid dark-grey
          padding-left 0
          padding-right 0
          .article-inner-wrapper
            .heading
              font-size 4em
              font-weight bold
              text-transform uppercase
            .article
              margin-top 4vh
      .upper-part
        .images-wrapper
          position relative
          .building
            z-index 3
          .sand
            z-index 2
          .keep-reading
            width 25%
            padding 0.5em 0
            color white
            z-index 4
            box-shadow 0 20px 20px dark-grey
  .screen-2
    color white
    .left-part
      border-right 1px solid light-black
      padding 0
      background black
      position relative
      .title-wrapper
        width 100%
        z-index 2
        .title
          text-transform uppercase
          font-weight bold
          font-size 4em
    .right-part
      background black
      .team-inner-wrapper
        padding 0
        .team
          position relative
          z-index 2
      .line
        width 1px
        height 100%
        absolute left 58.333333334%
        background light-black
      .learn-more
        z-index 3
        padding 0.5em 2em
  .screen-3
    position relative
    .lower-part
      .left-part
        padding 0
        margin-top -4vh
        height 100%
        background white
        position relative
      .right-part
        border-left 1px solid grey
        padding 0
        position relative
        .title-wrapper
          padding 0
          margin-top 10vh
          .title
            font-size 2em
            font-weight bold
            text-transform uppercase
        .slider-controls-wrapper
          padding 0
          .slider-controls
            padding 0
            .slider-control-box
              cursor pointer
              display inline-block
              margin-right 0.5em
              width 1em
              height 1em
              background dark-grey
              &.active
                background blue
            .page-num
              margin-left 0.5em
        .blank-space
          height 100%
          background grey
        .line
          width 1px
          height 100%
          absolute left 58.3333334% top
          background dark-grey
        .view-blog
          color dark-grey
          text-transform uppercase
          font-weight bold
    .upper-part
      z-index 2
      width 100%
      .slider
        padding 0
        .slide-wrapper
          .slide
            height 100%
            position relative
            &>img
              absolute top
              width 100%
            .desc-wrapper
              border 1px solid dark-grey
              absolute bottom
              background white
              height 60%
              .heading-wrapper
                padding 0
                .heading
                  width 100%
                  display inline-block
                  text-overflow ellipsis
                  font-size 1.5em
                  font-weight bold
                  text-transform uppercase
              .desc-text-wrapper
                padding 0
                margin-top 5%
                height 65%
                overflow hidden
              .social-wrapper
                height 15%
                padding 0
                .icon-wrapper
                  height 100%
                  padding 0
                  img
                    height 100%
                    cursor pointer
                .date-wrapper
                  height 100%
                  padding 0
                  cursor pointer
                  position relative
                  img
                    absolute top 25%
                    height 50%
                    display inline-block
                  span
                    absolute top 25% left 15%
  .screen-4
    .left-part
      padding 0
      margin-top -4vh
      height 100%
      background white
      position relative
    .right-part
      border-left 1px solid grey
      padding 0
      position relative
      .next-step-wrapper
        padding 0
        z-index 2
        .title
          font-weight bold
          font-size 2em
          text-transform uppercase
        .subtitle-wrapper
          margin-top 8vh
        .take-me-there-wrapper
          margin-top 8vh
          .take-me-there
            padding 0.5em 2em
            color white
            text-transform uppercase
            box-shadow 0 20px 20px dark-grey
      .blank-space
        height 100%
        background grey
      .line
        width 1px
        height 100%
        absolute left 58.3333334% top
        background dark-grey

@media(max-width $screen-md) // Tablet
  .screen-1
    height auto
    .left-part
      .blank-box
       display none
      .quote-box
        width 100%
        text-align center
    .right-part
      .lower-part
        height auto
        .article-wrapper
          height auto
        .article-inner-wrapper
          padding 5%
          .heading
            text-align center
          .article
            text-align justify
      .upper-part
        width 90%
        margin 0 5%
        position static
        .images-wrapper
          height auto
          width 100%
          img
          .keep-reading
            margin-top 5%
            position static
          img
            width 100%
            height auto
          .keep-reading
            margin-left 37.5%
  .screen-2
    background black
    padding 5%
    margin-top 5%
    height auto
    .left-part
      height auto
      margin-top 5%
      .title-wrapper
        position static
        text-align center
    .right-part
      height auto
      .line
        display none
      .learn-more
        position static
        margin 5% auto
      .team-wrapper
        .team
          width 100%
          height auto
          margin-top 10vh
  .screen-3
    height auto
    padding 5%
    .lower-part
      height auto
      .left-part
        display none
      .right-part
        height auto
        .blank-space
          display none
        .title-wrapper
          text-align center
        .slider-controls-wrapper
          margin-top 5vh
          position static
        .line
          display none
        .view-blog
          position static
          display block
          margin 5vh 0
    .upper-part
      height auto
      position static
      .slider
        height auto
        .slide-wrapper
          overflow hidden
          margin-top 5%
          padding 0
          height auto
          .slide
            .desc-wrapper
              padding-bottom 0
              .desc-text-wrapper
                margin-top 2%
  .screen-4
    .left-part
      display none
    .right-part
      .next-step-wrapper
        text-align center
        position static
        .title
          margin-top 10vh
      .blank-space-wrapper
      .line
        display none

@media(min-width $screen-md) // Desktop
  .screen-1
    height 100vh
    .left-part
      .quote-box
        width 150%
    .right-part
      .lower-part
        height 100%
        .article-wrapper
          height 100%
          .article-inner-wrapper
            padding 10vh 0 auto 0
      .upper-part
        width 70%
        margin-left 20%
        absolute top 10vh
        .images-wrapper
          height 90vh
          .desk
            width 70%
            height 60%
            absolute right 0
          .building
            width 40%
            absolute right 15% top 40%
          .sand
            width 75%
            height 30%
            absolute left 0 top 55%
          .keep-reading
            absolute bottom 12% right 20.333334%
  .screen-2
    height 60vh
    .left-part
      height 100%
      margin-top -4vh
      .title-wrapper
        absolute top 30% left 65%
    .right-part
      height 100%
      .learn-more
        absolute left 58.333333334% top 70%
      .team-wrapper
        .team
          margin-top 5vh
          height 50vh
  .screen-3
    height 100vh
    .lower-part
      height 100%
      .right-part
        height 100%
        .slider-controls-wrapper
          padding 0
          absolute bottom 0
        .view-blog
          absolute left 58.3333334% top 15%
    .upper-part
      height 60%
      absolute top 35vh
      .slider
        height 100%
        .slide-wrapper
          height 100%
          .slide
            .desc-wrapper
              padding 1em
            .desc-text-wrapper
              margin-top 5%
  .screen-4
    .right-part
      .next-step-wrapper
        absolute top
        .title
          margin-top 40vh
