@media(max-width $screen-md) // Tablet
  .screen-1
    height auto
    .left-part
      .blank-box
       display none
      .quote-box
        width 100%
        text-align center
    .right-part
      .lower-part
        height auto
        .article-wrapper
          height auto
        .article-inner-wrapper
          padding 5%
          .heading
            text-align center
          .article
            text-align justify
      .upper-part
        width 90%
        margin 0 5%
        position static
        .images-wrapper
          height auto
          width 100%
          img
          .keep-reading
            margin-top 5%
            position static
          img
            width 100%
            height auto
          .keep-reading
            margin-left 37.5%
  .screen-2
    background black
    padding 5%
    margin-top 5%
    height auto
    .left-part
      height auto
      margin-top 5%
      .title-wrapper
        position static
        text-align center
    .right-part
      height auto
      .line
        display none
      .learn-more
        position static
        margin 5% auto
      .team-wrapper
        .team
          width 100%
          height auto
  .screen-3
    height auto
    padding 5%
    .lower-part
      height auto
      .left-part
        display none
      .right-part
        height auto
        .blank-space
          display none
        .title-wrapper
          text-align center
        .slider-controls-wrapper
          margin-top 5vh
          position static
        .line
          display none
        .view-blog
          position static
          display block
          margin 5vh 0
    .upper-part
      height auto
      position static
      .slider
        height auto
        .slide-wrapper
          overflow hidden
          margin-top 5%
          padding 0
          height auto
          .slide
            .desc-wrapper
              padding-bottom 0
              .desc-text-wrapper
                margin-top 2%
  .screen-4
    .left-part
      display none
    .right-part
      .next-step-wrapper
        text-align center
        position static
        .title
          margin-top 10vh
      .blank-space-wrapper
      .line
        display none
  .screen-5
    margin-top 5%
    .left-part
      .logo-wrapper
        text-align center
    .right-part
      .line
        display none
      ul
        li
          padding 0.5em
