@import 'bootstrap/bootstrap/index.styl'

grey = #f9f9f9
blue = #00aff0
dark-blue = darken(#00aff0, 10)
dark-grey = #dcdcdc
light-black = #3c3c3c
black = #262626

@font-face
  font-family 'SourceSansPro'
  src url('../fonts/SourceSansPro-Regular.eot')
  font-style normal
  font-weight normal
