@import '../lib/bootstrap/bootstrap/index.styl'

grey = #f9f9f9
blue = #00aff0
dark-blue = darken(#00aff0, 10)
dark-grey = #bbb
light-black = #3c3c3c
black = #262626

screen-margin = 100px


@font-face
  font-family 'SourceSansProRegular'
  src url('../fonts/SourceSansPro-Regular/font.eot')
  src url('../fonts/SourceSansPro-Regular/font.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Regular/font.woff') format('woff'),
      url('../fonts/SourceSansPro-Regular/font.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Regular/font.svg#SourceSansPro-Black') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'SourceSansProBlack'
  src url('../fonts/SourceSansPro-Black/font.eot')
  src url('../fonts/SourceSansPro-Black/font.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Black/font.woff') format('woff'),
      url('../fonts/SourceSansPro-Black/font.ttf') format('truetype'),
      url('../fonts/SourceSansPro-Black/font.svg#SourceSansPro-Black') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'MontserratBold'
  src url('../fonts/Montserrat-Bold/font.eot')
  src url('../fonts/Montserrat-Bold/font.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Montserrat-Bold/font.woff') format('woff'),
      url('../fonts/Montserrat-Bold/font.ttf') format('truetype'),
      url('../fonts/Montserrat-Bold/font.svg#SourceSansPro-Black') format('svg')
  font-style normal
  font-weight normal

body
  font-family SourceSansProRegular
  font-size 14px
  overflow-x hidden

button
  border none
  outline none
  padding 0
  height 48px
  a
    background blue
    padding 14px 24px
    display inline-block
    width 100%
    height 100%
    color white
    font-weight bold
    text-transform uppercase
    &:hover
      color white
      text-decoration none
      background dark-blue

.row
  margin 0

.img-overlay
  absolute left top
  width 100%
  height 100%
  opacity 0
  transition all 0.5s ease
  background rgba(grey, 0.75)
  cursor pointer
  &:hover
    opacity 1
  .plus-sign
    width 10% !important
    height auto !important
    absolute top 50% left 50%
    transform translate(-50%, -50%)

@media(min-width 768px)
  .dropdown:hover .dropdown-menu
    display block
